.customer-details {
  padding: 1rem;
  width: 95vw;
  background-color: #f9f9f9;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.customer-details h2{
  margin-bottom: 1rem;
}

.details-container {
  overflow-y: auto;
  background-color: #ffffff;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  height: 60vh;
}

.detail-item {
  margin: 0.5rem 0rem;
  padding: 0.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 0.25rem;
  transition: background-color 0.3s;
  cursor: pointer;
}

.detail-item:hover {
  background-color: #f0f0f0;
}

.additional-info {
  margin-top: 10px;
  padding: 5px;
  background-color: #f8f8f8;
  border-left: 3px solid #007bff;
}

.same-email-records {
  overflow-y: auto;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  height: 20vh;
}

.record-item {
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #fafafa;
}

.record-item-successful{
  background-color: rgba(0, 255, 0, 0.5);
}

.record-item-decline{
  background-color: rgba(255, 0, 0, 0.5);
}

.loading {
  color: #007bff;
  font-weight: bold;
}

.error {
  color: #ff0000;
  font-weight: bold;
}
