.input-field{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.input-field label{
    font-weight: 300;
    font-size: 0.8rem;
}

.input-field input{
    width: 17rem;
    height: 2rem;
    padding:0.2rem 1rem  ;
    color:black;
    border-radius: 0.3rem;
    border:0.01rem solid black;
    margin-bottom: 0.75rem;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}