.navLogout{
    position: absolute;
    bottom: 5vh;
}

.navLogout span{
    font-size: 1.5rem;
    font-weight: 600;
    color: red;
    display: inline-block;
    cursor: pointer; 
}

span:hover{
    transform: scale(1.02);
}

span i{
    margin-right: 0.2rem;
}

.navLogout:hover #icon-name{
    display: block;
}

#icon-name{
    display: none;
    background-color: white;
    border-radius:0.5rem;
    padding:0.3rem;
    font-size: 0.7rem;
    color:#7E92A2;
    position: absolute;
    left: 3vw;
    bottom: 0.5vh;
}

a{
    text-decoration: none;
}

.navLogout{
    display:flex;
    align-items: center;
    gap:0.5rem;
}