.addAdminModal-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.addAdminModal-container{
    width: 30vw;
    height: 80vh;
    background-color: #F6FAFD;
    color: black;
    font-weight: 600;
    border-radius: 1.25rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap:1.5rem;
    overflow-y: auto;
}

.addAdminModal-container::-webkit-scrollbar{
    display: none;
}

.modalTopLine{
    display: flex;
    justify-content: space-between;
}

.adminName{
    font-weight: 600;
}

.addAdminForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.8rem;
}

.add-btn{
    width:8rem;
    border-radius: 2rem;
    color: white;
    font-weight: 700;
    border: none;
    padding:0.5rem 0;
    cursor: pointer;
    background-color: #5932EA;
}

.add-btn:hover{
    opacity: 0.8;
}

.input-labels label{
    font-weight: 300;
    font-size: 0.8rem;
}

.dropdown-label{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.magazineOptions {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    height: 20vh;
    width: 100%;
}

.checkbox{
    margin-right: 0.3rem;
}