.deleteAdminModal-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.deleteAdminModal-container{
    width: 25vw;
    height: 30vh;
    background-color: #F6FAFD;
    color: black;
    font-weight: 600;
    border-radius: 1.25rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.deleteAdminModal-Btns{
    display: flex;
    justify-content: space-around;
}

.deleteAdminModal-Btns button{
    color: white;
    background-color: #9A9A9A;
    height: 2rem;
    width: 6rem;
    border: none;
    border-radius: 1.25rem;
    cursor: pointer;
    font-weight: 700;
}

.deleteAdminModal-Btns button:hover {
    opacity: 0.8;
}

.headingDiv{
    background-color: #5932EA;
    color:white;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    padding: 0.7rem;
    font-size: 1.5rem;
}

.modalBody{
    margin:1.5rem 0;
}